# Dependency directories
node_modules/

# npm build output
build/

# generated javascript files
main.js
main.js.map
dataset-metadata.js
dataset-metadata.js.map
platform-components.js
platform-components.js.map
records.js
records.js.map
feed.xml
tour.js
tour.js.map
